[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apispec = {extras = ["yaml"], version = "==6.8.0"}
apispec-webframeworks = "==1.2.0"
cookiecutter = "==2.6.0"
deepdiff = "==8.1.1"
flask = "==3.1.0"
flask-cors = "==5.0.0"
flask-socketio = "==5.5.0"
flask-restful = "==0.3.10"
gevent = "==24.11.1"
gevent-websocket = "==0.10.1"
gitignore-parser = "==0.1.11"
kthread = "==0.2.3"
markdown = "==3.7"
marshmallow = "==3.23.2"
networkx = "==3.4.2"
openpyxl = "==3.1.5"
pandas = "==2.2.3"
passlib = "==1.7.4"
pyarrow = "==18.1.0"
pymongo = {extras = ["srv"], version = "==4.10.1"}
python-dotenv = "==1.0.1"
python-magic = {version = "==0.4.24", markers="sys_platform != 'win32'"}
python-magic-bin = {version = "==0.4.14", markers="sys_platform == 'win32'"}
pytz = "==2024.2"
simple-websocket = "==1.1.0"
sqlalchemy = "==2.0.36"
toml = "==0.10.2"
twisted = "==24.11.0"
tzlocal = "==5.2"
boto3 = "==1.35.90"
watchdog = "==6.0.0"
charset-normalizer = "==3.4.1"
numpy = "<2.0.0"

[dev-packages]
fastparquet = "*"
freezegun = "*"
ipython = "*"
ipykernel = "*"
markdownify = "*"
mkdocs = "*"
mkdocs-autorefs = "*"
mkdocs-include-markdown-plugin = "*"
mkdocs-macros-plugin = "*"
mkdocs-material = "==7.3.0"
mkdocs-material-extensions = "*"
mkdocstrings = "*"
mongomock = "*"
moto = {extras = ["s3"], version = "==4.2.13"}
requests = "*"
ruff = "*"
pandas-stubs = "*"
playwright = "*"
pre-commit = "*"
pyopenssl = "*"
pytest = "==7.4.3"
pytest-cov = "*"
pytest-mock = "*"
pytest-playwright = "*"
pytest-timeout = "*"
testbook = "*"
twine = "*"
types-flask = "*"
types-Flask-Cors = "*"
types-Markdown = "*"
types-python-dateutil = "*"
types-pytz = "*"
types-toml = ">=0.10.0"
types-tzlocal = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = false
